@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <ul id="contacts"></ul>
</div>

@section Scripts{
    <script type="text/javascript">
$(function()
{
        $.getJSON('/api/contact', function(contactsJsonPayload)
        {
            $(contactsJsonPayload).each(function(i, item)
            {
                $('#contacts').append('<li>' + item.Name + '</li>');
            });
        });
});
</script>
}